<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <h1>pergunta</h1>
        <p> <%- pergunta.titulo %></p>
    </div>
</body>

<%- include('./partials/footer.ejs') %>